*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', serif;
}
.container{
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
header{
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid darkgray;
}
#logo1{
  text-decoration: none;
  font-size: 32px;
  color: black;
  
}

.containerHeader{
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
}
#menubutton{
  background-color: transparent;
  color: rgb(20, 72, 20);
  border: none;
}
#logo1,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', serif;
  font-weight: 600;
}
nav{
  display: none;
}
main{
  margin-top: 48px;
}
h1{
  font-size: 2rem;
}
h2{
  font-size: 1.75rem;
}
h3{
  font-size: 1.60rem;
}
h4{
  font-size: 1.40rem;
}
h5{
  font-size: 1.30rem;
}
h6{
  font-size: 1.15rem;
}

p{
  color: rgb(99, 98, 98);
  padding-top: 16px;
  max-width: 600px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 150%;
}
.buttons{
  gap: 16px;
  transition: all 0.2s ease-in;
}
.primaryButton{
  background-color: black;
  color: white;
  height: 32px;
  gap: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.primaryButton:hover{
  background-color: rgb(51, 50, 50);
}
.secondaryButton:hover{
  color: white;


}

.primaryButton a{
  text-decoration: none;
  color: white;
}
.secondaryButton{
  background-color: white;
  color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 32px;
  border-radius: 4px;
  
}
.secondaryButton a{
  text-decoration: none;
  color: black;
}
.section1{
  margin-bottom: 3rem;
}
.section-about{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: rgb(223, 221, 221);
}
.section-blog{
  padding-top: 3rem;
  padding-bottom: 3rem;

}
h2{
  margin-bottom: 2rem;
}
#tiger1{
  width: 100%;
}
.blog{
  padding: 16px;
  border: 1px solid rgb(125, 124, 124);
  border-radius: 6px;
}
h3{
  margin-bottom: 12px;
}
.blog p{
  font-size: 12px;
}
.blog-list{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 576px) {
  .blog-list{
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  
}
@media screen and (min-width: 768px) {
  #menubutton{
      display: none;
  }
  nav{
      display: block;
  }
  nav ul{
      display : flex;
      flex-direction : row;
      justify-content : space-between;
      align-items : center;
      gap: 16px;
      list-style: none;        
  }
  nav a{
      text-decoration: none;
      color: rgb(56, 50, 50);
  }
  .buttons{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
  }
  .primaryButton{
      margin-top: 16px;
  }
  nav a:hover{
      text-decoration: underline;
  }
  .blog-list{
      grid-template-columns: 1fr 1fr 1fr;
  }
  h1{
      font-size: 3rem;
  }
  h2{
      font-size: 2.5rem;
  }
  h3{
      font-size: 2rem;
  }
  h4{
      font-size: 1.75rem;
  }
  h5{
      font-size: 1.50rem;
  }
  h6{
      font-size: 1.30rem;
  }
}
@media screen and (min-width: 992px) {
  .blog-list{
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
}
@media screen and (min-width: 1200px) {
  .blog-list{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  
}